@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  color: rgb(157, 153, 153);
  height: 100vh;
  background: linear-gradient(135deg,
      rgb(179, 231, 252) 0%,
      rgb(179, 231, 252) 50%,
      rgb(242, 90, 163) 50%,
      rgb(242, 90, 163) 100%);
}