@import url('https://afeld.github.io/emoji-css/emoji.css');

.Joke {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem;

    &-buttons {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        justify-content: center;
        width: 25%;
    }

    &-text {
        width: 75%;
        font-size: 1.2rem;
        margin-right: 1rem;
        line-height: 2rem;

        @media only screen and (max-width: 31.25em) {
            width: 60%;
            margin-right: .6rem;
        }
    }

    &-votes {
        width: 5rem;
        height: 5rem;
        line-height: 4rem;
        background-color: #fff;
        border-radius: 50%;
        border: 3px solid red;
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        @media only screen and (max-width: 31.25em) {
            font-size: 1.2rem;
            width: 3rem;
            height: 3rem;
            line-height: 2.5rem;
            border: 1.5px solid red;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        }
    }

    &-smiley {
        font-size: 3rem;
        margin-left: auto;
        border-radius: 50%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        @media only screen and (max-width: 24em) {
            font-size: 2rem;
        }
    }
}

.fa-arrow {

    &-up,
    &-down {
        font-size: 1.5rem;
        margin: 1rem;
        cursor: pointer;

        @media only screen and (max-width: 31.25em) {
            font-size: 2rem;
            margin: .5rem;
        }
    }
}